.select3
{
    border: 1px solid #eee;
}

.select3 .text-color
{
    color: #666;
}

.select3 .bg-color
{
    background-color: transparent;
}

.select3 .bg-color:hover
{
    background-color: #ddd;
}

.select3 .bg-color-list
{
    background-color: #fffffe;
    border-left: 1px dotted #eee;
    box-shadow: 2px 2px 5pt #f3f3f3;
}

.select3 .caret-color
{
    border-top-color: #333 !Important;
}

.select3 .option-border-color
{
    border-bottom-color: #eee !Important;
}

.select3 .caret-down 
{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #333;
}

.select3 .noselect
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select3
  .select
{
    overflow: auto;
}

.select3
  .select
    .text
{
    vertical-align: top;
    float: left;
    width: 80%;
    padding: 3pt;
    padding-left: 6pt;
    overflow: hidden;
    height: 23pt;
}

.select3
  .select
    .activator
{
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: top;
    float: right;
    padding: 8pt;
    cursor: pointer;
    transition: 0.5s;
}

.select3
    .options
{
    padding: 3pt;
    max-height: 150pt;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    position : absolute;
    /* z-index: 2147483647; */
}

.select3
    .options
        .option
{
    display: block;
    width: 100%;
    border-bottom: 1px dotted #eee;
    padding: 3pt;
    font-weight: 100 !Important;
    padding-left: 5pt;
}

.select3
    .options
        .option:last-child
{
    border-bottom: none;
}

.select3
    input[type=checkbox]
{
    margin-right: 3pt;
}
